{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
<div class="content-section box-sh">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        <legend>{% trans "Change Password" %}</legend>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="button mt-3 mb-3">
          <button type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}
